{{ partial "header.html" . }}
	<main>
		<div>
			<div>
				<h3>All The Thoughts</h3>
			</div>
			<div>
				<ul>
					{{ range (where .Site.RegularPages "Section" "thoughts") }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
<!-- 		{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" .  }}-->
	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ partial "footer.html" . }}
