{{ partial "header.html" . }}
	<main>
		<article>
			<small class="pull-right"><a class="nostyle-anchor" name="top" href="#bottom">&darr; Bottom</a></small>
			<h2>{{ .Title }}</h2>
			<h5><b>Created</b>: <time itemprop="dateCreated" datetime="{{.Date.Format $.Site.Params.fmt.ISO8601}}">{{ .Date.Format "January 2, 2006" }}</time>, <b>Last Modified</b>: <time itemprop="dateModified" datetime="{{.Page.Lastmod.Format $.Site.Params.fmt.ISO8601}}">{{ .Page.Lastmod.Format "January 2, 2006" }}</time></h5>
			
			<div>
				{{ .Content }}
			</div>
			<small class="pull-right"><a class="pull-right nostyle-anchor" name="bottom" href="#top">&uarr; Top</a></small>
			<!--<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>-->
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}