	<footer>
		<p> <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> is <a target="_blank" href="/LICENSE.txt">Licensed</a> under <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> | <a target="_blank" href="https://keybase.io/{{ .Site.Params.handle }}">Keybase</a> | <a target="_blank" href="https://twitter.com/{{ .Site.Params.handle }}">Twitter</a> | <a target="_blank" href="https://reddit.com/r/{{ .Site.Params.handle }}">Reddit</a></p>
	</footer>
</body>
</html>