{{ partial "header.html" . }}
	<main>
		<p>Hello world, welcome to my website.</p>
		<p>It's where I write about the things I think about.  If you dig knowledge and believe that science is a real method for discovering the true nature of reality, I think we can be friends.</p>
	
	<!--
		{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
	-->
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}